<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="app"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:form="http://www.springframework.org/tags/form">
<head>
    <title>Phân quyền người dùng</title>
    <div th:replace="fragments/header :: header-common"/>
</head>
<body>
<section class="vbox">
    <div th:replace="fragments/header :: header-menu" />
    <section>
        <section class="hbox stretch">
            <div th:replace="fragments/leftpanel :: leafpanel" />
            <!--begin content-->
            <section id="content">
                <section class="vbox">
                    <section class="scrollable padder">
                        <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                            <li><a th:href="@{/}"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                            <li><a href="#">Group</a></li>
                        </ul>
                        <div class="m-b-md">
                            <h3 class="m-b-none">Phần quyền người dùng</h3><br/>
                            <span style="color:red" th:text="${messageError}"></span>
                        </div>
                        <section class="panel panel-default">
                            <header class="panel-heading"><i class="fa fa-caret-square-o-right"></i>Phân quyền</header>
                            <div class="panel-body" style="min-height: 600px;">
                                <form method="post" th:action="@{/admin/system/user/user-group}" theme="simple"  enctype="multipart/form-data" class="form-horizontal" cssStyle="" validate="true">
                                    <input type="hidden" name="id" value="${user.id}"/>
                                    <div class="form-group m-b-xs">
                                        <div class="col-lg-12" style="margin-left: 40px">
                                            <div><span><input type="checkbox" id="grantCheckAll" name="checkAll" /> &nbsp;<label class="font-bold">Tất cả các nhóm quyền</label></span></div>
                                            <div class="col-md-4"  th:each="item : ${allGroups}">
                                                <table style="line-height: 2.0; border: 0">
                                                    <tbody>
                                                    <tr>
                                                        <td  style="padding-left: 15px; vertical-align: top;">
                                                            <input type="checkbox"  name="listGroup" value="${item.id}" /><label> ${item.groupName}</label>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="line line-dashed line-lg pull-in" style="clear:both ;margin-bottom: 50px"></div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-5">
                                            <a th:href="@{/admin/system/user}" class="btn btn-default">Hủy bỏ</a>
                                            <button type="submit" data-loading-text="Cập nhật" class="btn btn-primary">Cập nhật</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </section>
                    </section>

                    <div th:replace="fragments/footer :: footer-copyright"/>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>


            </section>
            <!--end content-->
        </section>
    </section>
</section>

<div th:replace="fragments/footer :: footer-common" />
<script th:src="@{/js/checkbox.js}"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        /*Quy uoc cha con cho checkbox*/
        $('#grantCheckAll').checkboxes({
            itemChild: 'list'
        });
        /*load quyen*/
        var grant='';
        if([[${groups}]]!=null){
            grant = [[${groups}]].split(",");
        }

        $("input[name='listGroup']").each(function() {
            for(var i=0; i<grant.length;i++){
                if(grant[i]==this.value) {
                    $(this).prop('checked', true);
                }
            }
        });

        /*Kiem tra checkbox trong bang dc check toan bo khong*/
        function checkAllCheck(){
            var result=true;
            $("input[name='listGroup']").each(function() {
                if(!$(this).is(':checked')){
                    result=false;
                    return result;
                }

            });
            return result;
        }
        var checkAllCheck=checkAllCheck();
        if(checkAllCheck){
            $('#grantCheckAll').prop('checked', true);
        }

    });
</script>
</body>
</html>