<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="app"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>QMS</title>
    <div th:replace="fragments/header :: header-common"/>
</head>
<body>
<section class="vbox">
    <div th:replace="fragments/header :: header-menu" />
    <section>
        <section class="hbox stretch">
            <div th:replace="fragments/leftpanel :: leafpanel" />
            <!--begin content-->
            <section id="content">
                <section class="vbox">
                    <section class="scrollable padder">
                        <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                            <li><a href="<%=request.getContextPath()%>/"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                            <!--<li><a href="#">User</a></li>-->
                        </ul>
                        <div class="m-b-md">
                            <h3 class="m-b-none">Workset</h3>
                            <small>Welcome back, ManhPT</small>
                        </div>
                    </section>
                    <footer class="footer bg-white b-t b-light"><small> &copy; 2018</small></footer>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
            </section>
            <!--end content-->
        </section>
    </section>
</section>
<div th:replace="fragments/footer :: footer-common" />
</body>
</html>